* {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.underlined {
    border-bottom: 4px;
    border-style:none none ridge none;
    border-color: #b3f5ec;
    width: 70%;                                                                                                                                                                                          
}                                                                                                                       

figure {
    border: 2px solid gray;
}

.text-name {
    font-weight: bold;
}

.name-style {
    font-style: oblique;
}

.tabl-text {
    text-transform: uppercase;
}

li {
    list-style-type: square;
}

.link:link {
    text-decoration: underline;
    color: #00f;
}

.link:hover {
    text-decoration: none;
    color: #00f;
}

.link:visited {
    text-decoration: underline;
    color: #005;
}
