* {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.text-name {
    font-weight: bold;
}

.name-style {
    font-style: oblique;
}

.tabl-text {
    text-transform: uppercase;
}

li {
    list-style-type: square;
}


.link:link {
    color: #00f;
    text-decoration: underline;
}

.link:hover {
    color: #00f;
    text-decoration: none;
}

.link:visited {
    color: #005;
    text-decoration: underline;
}
